<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="http://tympanus.net/Blueprints/ResponsiveMultiColumnForm/css/default.css" />
		<link rel="stylesheet" type="text/css" href="http://tympanus.net/Blueprints/ResponsiveMultiColumnForm/css/component.css" />
		<script src="http://tympanus.net/Blueprints/ResponsiveMultiColumnForm/js/modernizr.custom.js"></script>
		<script type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>